# Documents
# *.pdf
*.txt

# Python virtual environments
.venv/
venv/
env/
ENV/

# Python cache and bytecode
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/

# Environment variable files
.env
.env.*
